apiVersion: apps/v1
kind: Deployment
metadata:
  name: memshadow
spec:
  template:
    spec:
      containers:
      - name: memshadow
        resources:
          requests:
            memory: "4Gi"
            cpu: "2000m"
          limits:
            memory: "16Gi"
            cpu: "8000m"
